*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font: 600 15px Manrope;
    color:  hsl(225, 20%, 60%);
}

body{
    height: 100vh;
    min-height: 700px;
    width: 100vw;
    min-width: 375px;
    background: hsl(230, 100%, 99%) url(./images/bg-pattern.svg) no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    padding: 50px 15px;
    border: 2px solid;
}
.title{
    background:url(./images/pattern-circles.svg) no-repeat center;
    background-size: contain;
    flex-grow: .7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-bottom: 10px;
}
.heading{
    font:900 1.1rem Manrope;
    text-align: center;
    color:  hsl(227, 35%, 25%);
}
p{
    text-align: center;
    font-size: .8rem;
}
.content{
    flex-grow: 2;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow:0px 3px 20px 0px rgb(0 0 0 / 20%);
    border-radius: 10px;
}
.upper{
    flex-grow:1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.filledcolor{
    position: relative;
    top: -15px;
    height: 10px;
    width: 30px;
    background-color: hsl(174, 77%, 80%);
    border-radius: 30px 0 0 30px;
}
.slider{
    appearance: none;
    /* position: relative; */
    height: 10px;
    background-color:hsl(224, 65%, 95%);
    width: 260px;
    border-radius: 10px;
}

.slider::-webkit-slider-thumb {
    appearance:none;
    position: relative;
  width: 35px;
  height: 35px;
  background:hsl(174, 86%, 45%) url(./images/icon-slider.svg) no-repeat center;
  cursor: pointer;
  border-radius:50%;
  box-shadow: 0 7px 10px 3px hsl(174, 77%, 80%);
}
.slider:hover::-webkit-slider-thumb{
    top:-30px;
    transform: rotate(45deg);
    border-radius: 50% 50% 0 50%;
  box-shadow: 0 0 0;
}
.rateholder{
    text-align: center;
}
.rate{
    display: inline-block;
    margin: auto;
    text-align: center;
    font-weight: 800;

    color: hsl(227, 35%, 25%);
}
 span{
    font-size: .6rem;
}

.lower{
    flex-grow:1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.lower::before{
    content: "";
    height: 2px;
    width: 300px;
    position:absolute;
    top: 10px;
    background-color:hsl(223, 50%, 87%);
}
.plans{
    display: flex;
    justify-content: space-around;
    width: 85%;
}
.toggle{
    height:15px;
    width: 30px;
    background-color: hsl(223, 50%, 87%);
    border-radius: 30px;
    position: relative;
}
.swipe{
    height:11px;
    width: 11px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 2px;
    left: 2px;
    cursor: pointer;
}
.monthly,.yearly,.discount{
    font-size: .7rem;
    font-weight: 500;
    color:  hsl(225, 20%, 60%);
}
.discount{
background-color: hsl(14, 92%, 95%);
color:hsl(15, 100%, 70%);
padding: 0 5px;
border-radius: 30px;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: .5;
    align-items: center;
    list-style-image: url(./images/icon-check.svg);
    
}
li,button{
    font-size: .7rem;
}
button{
    padding: 5px 20px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: hsl(227, 35%, 25%);
    color: hsl(226, 100%, 87%);
    cursor: pointer;
}

/* responsive layout for other device */
@media screen and (min-width:600px) {
    .content{
        width: 570px;
        height: 200px;
    }
   .pageview{
       display: flex;
       justify-content: space-between;
       width: 150%;
   }

   
    
}